@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a asp-action=AllQuestions class="link"><h2>View All Questions</h2></a>
    <a asp-action=PostQuestion class="link"><h2>Post A New Question</h2></a>

    <a asp-action="AdminAllQuestions" class="link"><h2>View All Questions [Admin]</h2></a>
    
</div>
<a asp-controller="Role"><p>Add/Remove Admins</p></a>
<br ><br />
<p>by raminel nunez</p>

